.nav-treeview .nav-item.active a {
	background: rgba(255,255,255,.1);
}
.has-error .form-control {
	border-color: #dc3545;
}
.has-error .help-block {
	font-size: 13px;
	color: #dc3545;
}

.required label::after {
  color: #dc3545;
  content: "*";
  font-weight: bold;
  margin-left: 5px;
}
label.rmstrict::after {
  content: "";
  font-weight: bold;
  margin-left: 5px;
}

.form-control.is-invalid, .was-validated .form-control:invalid {

	background-position: right calc(1.375em + .1875rem) center;
	
}

.form-control.is-invalid, .was-validated .form-control:invalid {
	border-color: #dc3545;
	padding-right: 0rem;
	background-image: url("");
	background-repeat: no-repeat;
	background-position: right calc(.0rem) center;
	background-size: calc( .0rem);
}

.select2-container--default .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-search--inline .select2-search__field:focus{
	border:0px;
}

.table td{ word-break: break-all!important;}

.header-shrink {
    position: fixed;
    width: calc(100% - 242px);
}


.sidebar-mini.sidebar-collapse .header-shrink {
    position: fixed;
    width: calc(100% - 65px);
}


@media only screen and (max-width:991px) {
.header-shrink {
    position: fixed;
    width: calc(100% - 242px);
}
.sidebar-mini.sidebar-collapse .header-shrink {
    position: fixed;
    width: calc(100% - 0px);
}

.sidebar-mini.sidebar-open [data-widget=pushmenu]{ margin-left:243px}
	
	}
@media only screen and (max-width:767px) {	
.sidebar-mini.sidebar-open .navbar-nav .nav-link span {
    display: none;
}

.sidebar-mini.sidebar-open .nav-link {
    padding-right: 0px!important;
}
}

.sidebar-mini.sidebar-collapse .main-sidebar:hover{width: 4.6rem;}

/*.main-sidebar .nav-sidebar li a:hover p {
    visibility: hidden !important;
    display: none !important;
    opacity: 0 !important;
}*/

.sidebar-collapse.sidebar-mini .main-sidebar:hover li a p{display: none !important; }
.sidebar-collapse.sidebar-mini .main-sidebar:hover .brand-link span.brand-text{visibility: hidden !important; }

.sidebar-collapse.sidebar-mini .main-sidebar:hover .user-panel .info{ display:none!important;}
.textarea-resize{resize: none;}


.overlay-block {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999;
}
.overlay-block-inr {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    display: block;
    left: 0;
    margin: auto;
    max-width: 350px;
    padding: 0px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.ldr-img {
    font-size: 22px;
    padding: 0 0 10px;
    color: #db3179;
}
.ldr-img img {
    display: block;
    margin: 0 auto 10px;
}
.detailsUpdate .overlay-block {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    position: absolute;
}
.hide{
    display: none;
}

.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px)!important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px!important;
}

/* table button css */
table .btn {margin: 1px;}
.card-body tr td {vertical-align: middle;}
.box-primary {
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 10px;
}
.product-list-in-box>.item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #f4f4f4;
}
.products-list .product-title {
    font-weight: 600;
    color: #3c8dbc;
}
.pull-right {
    float: right!important;
}

element.style {
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
}
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
    color: #fff !important;
}
.pull-right {
    float: right;
}
.pull-right {
    float: right!important;
}
.product-info .label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.product-info .label-warning {
    background-color: #f0ad4e;
}
.product-info .label-danger {
    background-color: #dd4b39 !important;
}
.product-info .label-success {
    background-color: #00a65a !important;
}
.product-info .label-info{
    background-color: #00c0ef !important;
}